:root {
  --givexchange-primary-color: #4e9d4b;
}

@keyframes givexchange-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.givexchange-animate-slide {
  animation: givexchange-slide 40s linear infinite;
  width: max-content;
}

/* HTML: <div class="inner-curve"></div> */
.givexchange-inner-curve {
  --r: 25px; /* control the rounded part */
  --s: 60px; /* control the size of the cut */
  --a: 25deg; /* control the depth of the curvature */
  --p: 38%; /* control the position */

  /* height: 230px; */
  /* aspect-ratio: 2/5; */
  /* background: #fff; */
  border-radius: var(--r);
  --_m: var(--r), #000 calc(100% - 1px), #0000;
  --_d: (var(--s) + var(--r)) * cos(var(--a));
  mask:
    radial-gradient(var(--r) at calc(var(--p) + var(--_d)) var(--_m)),
    radial-gradient(var(--r) at calc(var(--p) - var(--_d)) var(--_m)),
    radial-gradient(
        var(--s) at var(--p) calc(-1 * sin(var(--a)) * var(--s)),
        #0000 100%,
        #000 calc(100% + 1px)
      )
      0 calc(var(--r) * (1 - sin(var(--a)))) no-repeat,
    linear-gradient(
      90deg,
      #000 calc(var(--p) - var(--_d)),
      #0000 0 calc(var(--p) + var(--_d)),
      #000 0
    );

  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
