:root {
  --primary-color: #00387d;
  --green: #1ce98a;
}

.timeline-shadow:hover {
  border: 1px solid var(--primary-color);
  box-shadow: rgba(98, 118, 235, 0.2) 7px 7px 29px 10px;
  transition: all 0.3s;
}

.objective-card-shadow {
  box-shadow: rgba(219, 219, 219, 0.2) 0px 0px 18px 0px;
}
